@model LearningStuff.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RspvForm</title>
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet1.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    @using(Html.BeginForm())
    {
        <div class="panel-body">
            @Html.ValidationSummary()
            <p>Ваше имя: @Html.TextBoxFor(x => x.Name)</p>
            <p>Ваш email: @Html.TextBoxFor(x => x.Email)</p>
            <p>Ваш телефон: @Html.TextBoxFor(x => x.Phone)</p>
            <p>
                Вы придете?
                @Html.DropDownListFor(x => x.WillAttend, new[] {
                    new SelectListItem() { Text = "Да, конечно я буду", Value = Boolean.TrueString},
                    new SelectListItem() { Text = "Нет, я не смогу", Value = Boolean.FalseString}
                })
            </p>
        </div>
        <input type="submit" value="Отправить форму RSVP" class="btn btn-success"/>
    }
</body>
</html>
